<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %highlight(%-5level) %logger{25} | %marker %msg %n</pattern>
        </encoder>
    </appender>

    <variable name="ROOT_LOG_LEVEL" value="${ROOT_LOG_LEVEL:-INFO}"/>
    <root level="${ROOT_LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
